@{
    ViewData["Title"] = "Home Page";
}

    <div class="">
        <h1 class="display-4">Welcome</h1>
        <p>This ASP.NET MVC Core page uses <span class="badge badge-dark">implicit flow</span> as grant type to authenticate with Identity Server 4 service</p>
        <p>Go to <a asp-area="" asp-controller="Private" asp-action="Index">private page</a></p>
    </div>
